echo "# ahmedouardi7" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/ahmedauardi7/ahmedouardi7.git
git push -u origin main
